.nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    
    width: 100%;
    color: #121212;
    list-style-type: none;
}

.nav li {
    display: inline;
}