.nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #121212;
    color: whitesmoke;

    list-style-type: none;
    padding: 1rem 0 1rem 0;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
}

.nav li {
    /* background-color: #121212; */
    background: linear-gradient(to right, #343434 50%, #121212 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    
    display: inline;
    padding: 1rem;
    transition: all 0.2s ease;
}

.nav li:hover {
    background-position:left bottom;
}